<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vamos messi</title>
</head>
<body>
    <h1>mi primer encabezado</h1>
    <h2>ignacio lopez rodriguez</h2>
    <h3>espero que este bien</h3>
    <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Pariatur dolores commodi fugit <strong> perspiciatis excepturi nemo beatae omnis iure, 
         debitis quos autem id, nihil consequatur?</strong> Deleniti assumenda repudiandae optio dolorem!</h4>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum atque, corrupti suscipit,
         accusamus a iste repellendus soluta enim doloribus, exercitationem perspiciatis assumenda 
         magnam modi. Adipisci impedit fuga nobis recusandae ipsa!</p>
    <p>intentando guardar en git hub por segunda vez</p>       
</body>
</html>